.dark .custom-select, .dark .custom-file-label, .dark .select2-container .select2-selection--multiple, .dark .select2-container .select2-selection--single {
	 background-color: #1a202e;
	 border-color: #979da6;
	 color: #96a2b4;
}
 .dark {
	 background-color: #232b3e;
}
 .dark .card {
	 background-color: #1a202e;
	 color: #96a2b4;
}
 .dark .card .card-header {
	 border-bottom-color: #1a202e;
}
 .dark .card .card-header h4 + .card-header-action .btn {
	 color: #fff;
	 box-shadow: none;
}
 .dark .card .card-header h4 + .card-header-action .btn.active {
	 box-shadow: none;
	 color: #fff;
}
 .dark .card .card-header h4 {
	 color: #96a2b4;
}
 .dark .card .card-body p {
	 color: #96a2b4;
}
 .dark .card.card-statistic-1 .card-body {
	 color: #96a2b4;
}
 .dark .card.card-statistic-2 .card-body {
	 color: #96a2b4;
}
 .dark .card .card-statistic-4 .card-content {
	 color: #96a2b4;
}
 .dark .section .section-header h1 {
	 color: #96a2b4;
}
 .dark .section .section-header .section-header-breadcrumb {
	 background: #1a202e;
}
 .dark .section .section-title {
	 color: #96a2b4;
}
 .dark .navbar.active {
	 background-color: #fff;
}
 .dark .navbar .form-inline .form-control {
	 background-color: #f2f2f2;
}
 .dark .navbar .form-inline .btn {
	 background-color: #f2f2f2;
}
 .dark .navbar .form-inline .search-element .form-control:focus {
	 border-color: #30353d;
}
 .dark .navbar .form-inline .search-element .btn i {
	 color: #96a2b4;
}
 .dark .table {
	 color: #96a2b4;
}
 .dark .table.table-bordered td {
	 border-color: #666869;
}
 .dark .table.table-bordered th {
	 border-color: #666869;
}
 .dark .table:not(.table-sm) thead th {
	 color: #96a2b4;
	 background-color: rgba(0, 0, 0, 0.2);
}
 .dark .btn-primary {
	 box-shadow: none;
}
 .dark .btn-secondary {
	 box-shadow: none;
}
 .dark .btn-info {
	 box-shadow: none;
}
 .dark .btn-warning {
	 box-shadow: none;
}
 .dark .btn-danger {
	 box-shadow: none;
}
 .dark .btn-success {
	 box-shadow: none;
}
 .dark .btn-light {
	 box-shadow: none;
}
 .dark .btn-dark {
	 box-shadow: none;
}
 .dark .text-title {
	 color: #96a2b4;
}
 .dark .text-muted {
	 color: #64789a !important;
}
 .dark .main-footer {
	 border-top: 1px solid #1a202e;
	 background: #1a202e;
}
 .dark .btn-outline-primary {
	 color: #96a2b4;
	 border-color: #96a2b4;
}
 .dark .form-control {
	 background-color: #1a202e;
	 border-color: #979da6;
	 color: #96a2b4;
}
 .dark .select2-container.select2-container--focus .select2-selection--multiple {
	 background-color: #1a202e;
	 border-color: #979da6;
	 color: #96a2b4;
}
 .dark .select2-container.select2-container--open .select2-selection--single {
	 background-color: #1a202e;
	 border-color: #979da6;
	 color: #96a2b4;
}
 .dark .selectric {
	 background-color: #1a202e;
	 border-color: #979da6;
	 color: #96a2b4;
}
 .dark .selectric .label {
	 color: #96a2b4;
}
 .dark .selectric:hover {
	 background-color: #1a202e;
	 border-color: #979da6;
	 color: #96a2b4;
}
 .dark .select2-container--default .select2-results__option[aria-selected="true"] {
	 background-color: #32363c;
}
 .dark .select2-container--default .select2-results__option--highlighted[aria-selected] {
	 background-color: #32363c;
}
 .dark .select2-container--default .select2-selection--single .select2-selection__rendered {
	 color: #96a2b4;
}
 .dark .select2-container--default .select2-search--dropdown .select2-search__field {
	 background-color: #1a202e;
	 color: #96a2b4;
}
 .dark .select2-container--default .select2-search--inline .select2-search__field {
	 color: #96a2b4;
}
 .dark .select2-dropdown {
	 background-color: #1a202e;
	 color: #96a2b4;
}
 .dark .bootstrap-tagsinput {
	 background-color: #1a202e;
	 border-color: #979da6;
	 color: #96a2b4;
}
 .dark .selectgroup-button {
	 background-color: #1a202e;
}
 .dark .custom-switch-indicator {
	 background: #585b5f;
}
 .dark .selectric-items {
	 background-color: #1a202e;
	 box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3);
	 color: #96a2b4;
}
 .dark .selectric-items li {
	 color: #96a2b4;
}
 .dark .selectric-items li.selected {
	 background-color: #33333a;
}
 .dark .selectric-items li.highlighted {
	 background-color: #33333a;
}
 .dark .selectric-items li:hover {
	 background-color: #37373e;
}
 .dark .custom-switch-description {
	 color: #96a2b4;
}
 .dark .input-group-text {
	 background-color: #32363c;
	 color: #96a2b4;
}
 .dark .custom-file-label::after {
	 background-color: #32363c;
	 color: #96a2b4;
}
 .dark .jumbotron {
	 background-color: #32363c;
}
 .dark .article .article-details {
	 background-color: #1a202e;
}
 .dark .article.article-style-b .article-details p {
	 color: #96a2b4;
}
 .dark .article.article-style-c .article-details p {
	 color: #96a2b4;
}
 .dark .article.article-style-c .article-details .article-category {
	 color: #96a2b4;
}
 .dark .article.article-style-c .article-details .article-category a {
	 color: #96a2b4;
}
 .dark .text-job {
	 color: #96a2b4;
}
 .dark #mail-nav li a {
	 color: #96a2b4;
}
 .dark #mail-nav #mail-folders > li a:hover {
	 background-color: #313131;
}
 .dark #mail-nav #mail-labels li a:hover {
	 background-color: #313131;
}
 .dark #mail-nav #online-offline li a:hover {
	 background-color: #313131;
}
 .dark .breadcrumb {
	 background-color: transparent;
	 color: #96a2b4;
}
 .dark .breadcrumb .breadcrumb-item a .feather {
	 color: #96a2b4;
}
 .dark .breadcrumb-item.active {
	 color: #96a2b4;
}
 .dark .dropdown-menu {
	 background-color: #1a202e !important;
	 box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3);
}
 .dark .dropdown-menu a:hover {
	 color: #fff;
	 background-color: #32363c;
}
 .dark .dropdown-menu .dropdown-title {
	 color: #fff !important;
}
 .dark .dropdown-item {
	 color: #96a2b4;
	 background-color: #1a202e;
}
 .dark .dropdown-divider {
	 border-top-color: #96a2b4;
}
 .dark .dropdown-list .dropdown-item {
	 border-bottom: 1px solid #96a2b4;
}
 .dark .dropdown-list .dropdown-item .dropdown-item-desc {
	 color: #96a2b4;
}
 .dark .dropdown-list .dropdown-item .dropdown-item-desc b {
	 color: #fff;
}
 .dark .dropdown-list .dropdown-item.dropdown-item-unread {
	 background-color: #0a0d13;
}
 .dark .dropdown-list .dropdown-list-content:not(.is-end):after {
	 background-image: none;
}
 .dark .dropdown-list .dropdown-list-message .dropdown-item .dropdown-item-desc .message-user {
	 color: #96a2b4;
}
 .dark .dropdown-list .dropdown-list-message .dropdown-item .dropdown-item-desc .messege-text {
	 color: #96a2b4;
}
 .dark .list-group-item {
	 background-color: #1a202e;
	 border: 1px solid rgba(234, 227, 227, 0.2);
}
 .dark .list-group-item.disabled {
	 background-color: #343a40;
}
 .dark .list-group-item-action {
	 color: #96a2b4;
}
 .dark .dropzone {
	 border: 2px dashed #96a2b4;
	 background: #1a202e;
}
 .dark .dropzone .dz-message {
	 color: #96a2b4;
}
 .dark .pricing {
	 background: #1a202e;
}
 .dark .pricing .pricing-cta a {
	 background-color: #32363c;
}
 .dark .settingSidebar .settingSidebar-body {
	 background: #1a202e;
	 color: #96a2b4;
}
 .dark .settingSidebar .setting-panel-header {
	 background-color: #32363c;
	 color: #96a2b4;
	 border: 1px solid #32363c;
}
 .dark .image-preview {
	 background-color: #1a202e;
}
 .dark .invoice {
	 background-color: #1a202e;
}
 .dark .invoice .invoice-detail-item .invoice-detail-value {
	 color: #fff;
}
 .dark .main-wrapper-1 .section .section-header {
	 border-top: 1px solid #38424b;
}
 .dark .list-unstyled-border li {
	 border-bottom: 1px solid #616161;
}
 .dark .table-striped tbody tr:nth-of-type(odd) {
	 background-color: rgba(0, 0, 0, 0.06);
}
 .dark table.dataTable thead th {
	 border-bottom: 1px solid #343b44 !important;
}
 .dark table.dataTable thead td {
	 border-bottom: 1px solid #343b44 !important;
}
 .dark .media .media-title {
	 color: #96a2b4;
}
 .dark .media .media-title a {
	 color: #96a2b4;
}
 .dark .media .media-description {
	 color: #96a2b4;
}
 .dark.main-sidebar .sidebar-menu li ul.dropdown-menu li.active > a {
	 color: #f1d065;
}
 .dark.main-sidebar .sidebar-menu li ul.dropdown-menu li.active > a:before {
	 color: #f1d065;
}
 .dark.main-sidebar .sidebar-menu li ul.dropdown-menu li a:hover {
	 color: #f1d065;
}
 .dark.main-sidebar .sidebar-menu li ul.dropdown-menu li a:hover:before {
	 color: #f1d065;
}
 .dark .profile-widget .profile-widget-items .profile-widget-item .profile-widget-item-label {
	 color: #96a2b4;
}
 .dark .profile-widget .profile-widget-items .profile-widget-item .profile-widget-item-value {
	 color: #96a2b4;
}
 .dark .user-item .user-details .user-name {
	 color: #96a2b4;
}
 .dark .gradient-bottom:after {
	 background-image: none;
}
 .dark .buttons .btn {
	 box-shadow: none;
}
 .dark .btn-group > .btn {
	 box-shadow: none;
}
 .dark .btn-group-vertical > .btn {
	 box-shadow: none;
}
 .dark .chat-box .chat-content {
	 background-color: #1a202e !important;
}
 .dark .chat-box .chat-content .chat-text {
	 background-color: #1f1e1e !important;
}
 .dark .people-list .chat-list li.active {
	 background: #1f1e1e;
}
 .dark .people-list .chat-list li:hover {
	 background: #1f1e1e;
}
 .dark .custom-switch-input:checked ~ .custom-switch-description {
	 color: #f5f7f9;
}
 .dark .form-group > label {
	 color: #96a2b4;
}
 .dark input.form-control {
	 color: #96a2b4;
}
 .dark input.form-control:focus {
	 border-color: #b9b9b9;
}
 .dark select.form-control {
	 color: #96a2b4;
}
 .dark select.form-control:focus {
	 border-color: #b9b9b9;
}
 .dark .fc-view > table td {
	 color: #fff;
}
 .dark .max-texts a {
	 color: #96a2b4;
}
 .dark .table-hover tbody tr:hover {
	 color: #96a2b4;
}
 .dark .author-box .author-box-job {
	 color: #96a2b4;
}
 .dark .wizard > .steps .disabled a {
	 background: #32363c;
	 color: #96a2b4;
}
 .dark .activities .activity .activity-detail {
	 background-color: #1a202e;
}
 .dark .statistic-details .statistic-details-item .detail-name {
	 color: #96a2b4;
}
 .dark .to-do-list li {
	 background-color: #1a202e;
}
 .dark .form-check {
	 color: #96a2b4;
}
 .dark .form-check .form-check-sign .check {
	 border: 1px solid rgba(228, 224, 224, 0.54);
}
 .dark #visitorMap, .dark #visitorMap2, .dark #visitorMap3, .dark #visitorMap4 {
	 background-color: #1a202e !important;
}
 .dark .note-editor.note-frame .note-editing-area .note-editable {
	 background-color: #1a202e;
	 color: #96a2b4;
}
 .dark .note-editor.note-frame .note-toolbar button {
	 color: #96a2b4;
}
 .dark .apexcharts-xaxis-label {
	 fill: #96a2b4;
}
 .dark .apexcharts-yaxis-title, .dark .apexcharts-xaxis-title {
	 fill: #96a2b4;
}
 .dark .apexcharts-legend-text {
	 color: #96a2b4 !important;
}
 .dark .board {
	 background-color: #353a46;
}
 .dark .board .drop-card {
	 background-color: #404754;
}
 