.theme-white .btn-outline-primary:not([disabled]):not(.disabled):active, .theme-white .btn-outline-primary:not([disabled]):not(.disabled).active, .theme-white .show > .btn-outline-primary.dropdown-toggle {
	 color: #000;
	 background-color: #6777ef;
	 border-color: #6777ef;
}
 .theme-white.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu li.active > a:hover {
	 color: #6777ef;
}
 .theme-white .bg-primary {
	 background-color: #6777ef !important;
}
 .theme-white .text-primary {
	 color: #fff !important;
}
 .theme-white a:hover {
	 color: #6777ef;
}
 .theme-white .btn-primary {
	 background-color: #6777ef;
	 border-color: transparent !important;
	 color: #fff;
}
 .theme-white .btn-primary:focus {
	 background-color: #4f5ece !important;
}
 .theme-white .btn-primary:focus:active {
	 background-color: #4f5ece !important;
}
 .theme-white .btn-primary:active {
	 background-color: #4f5ece !important;
}
 .theme-white .btn-primary:hover {
	 background-color: #4f5ece !important;
	 color: #fff;
}
 .theme-white .btn-primary.disabled {
	 background-color: #6777ef;
	 border-color: #6777ef;
}
 .theme-white .btn-primary:disabled {
	 background-color: #6777ef;
	 border-color: #6777ef;
}
 .theme-white .btn-outline-primary {
	 color: #6777ef;
	 background-color: transparent;
	 background-image: none;
	 border-color: #6777ef;
}
 .theme-white .btn-outline-primary:focus {
	 background-color: #4f5ece !important;
	 color: #fff;
}
 .theme-white .btn-outline-primary:focus:active {
	 background-color: #4f5ece !important;
	 color: #fff;
}
 .theme-white .btn-outline-primary:hover {
	 color: #fff;
	 background-color: #6777ef;
	 border-color: #6777ef;
}
 .theme-white .btn-outline-primary.disabled {
	 color: #6777ef;
	 background-color: transparent;
}
 .theme-white .btn-outline-primary:disabled {
	 color: #6777ef;
	 background-color: transparent;
}
 .theme-white .btn-link {
	 font-weight: 400;
	 color: #6777ef;
	 background-color: transparent;
}
 .theme-white .btn-link:hover {
	 color: #6777ef;
}
 .theme-white .dropdown-item.active {
	 color: #fff;
	 background-color: #e9e9e9;
}
 .theme-white .nav-pills .nav-link.active {
	 color: #fff;
	 background-color: #6777ef;
}
 .theme-white .nav-pills .show > .nav-link {
	 color: #fff;
	 background-color: #6777ef;
}
 .theme-white .page-link {
	 color: #6777ef;
	 background-color: #fff;
	 border: 1px solid #ededed;
}
 .theme-white .page-link:focus {
	 color: #6777ef;
}
 .theme-white .page-link:hover {
	 color: #6777ef;
	 background-color: #eaeaea;
}
 .theme-white .page-item .page-link {
	 color: #6777ef;
}
 .theme-white .page-item.active .page-link {
	 color: #fff;
	 background-color: #6777ef;
	 border-color: #6777ef;
}
 .theme-white .page-item.disabled .page-link {
	 color: #6777ef;
}
 .theme-white .progress-bar {
	 color: #fff;
	 background-color: #6777ef;
}
 .theme-white .border-primary {
	 border-color: #fff !important;
}
 .theme-white .navbar {
	 background-color: #e3eaef;
	 box-shadow: 0 0 10px 1px rgba(68, 102, 242, 0.05);
}
 .theme-white .jqvmap-circle {
	 background-color: #6777ef;
	 border: 1px solid #000;
}
 .theme-white .dropzone {
	 border: 2px dashed #6777ef;
}
 .theme-white .custom-control-input:checked ~ .custom-control-label::before {
	 color: #fff;
	 background-color: #6777ef;
}
 .theme-white .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	 background-color: #6777ef;
}
 .theme-white .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
	 background-color: #6777ef;
}
 .theme-white .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
	 background-color: #6777ef;
}
 .theme-white .list-group-item.active {
	 color: #fff;
	 background-color: #6777ef;
	 border-color: #6777ef;
}
 .theme-white .navbar.active {
	 background-color: #6777ef;
}
 .theme-white .form-control:focus {
	 border-color: #6777ef;
}
 .theme-white .alert.alert-primary {
	 background-color: #6777ef;
}
 .theme-white .card.card-primary {
	 border-top: 2px solid #6777ef;
}
 .theme-white .fc button.fc-state-active {
	 background-color: #6777ef;
	 color: #fff;
}
 .theme-white .weather ul li {
	 border: 2px solid #6777ef;
	 color: #6777ef;
}
 .theme-white .card-chat .chat-content .chat-item.chat-right .chat-details .chat-text {
	 background-color: #6777ef;
	 color: #fff;
}
 .theme-white .nav-tabs .nav-item .nav-link {
	 color: #6777ef;
}
 .theme-white .swal-button.swal-button--confirm {
	 background-color: #6777ef;
}
 .theme-white .btn-group .btn.active {
	 background-color: #6777ef;
	 color: #fff;
}
 .theme-white .media .media-right {
	 color: #6777ef;
}
 .theme-white .selectric-items li.selected {
	 background-color: #6777ef;
	 color: #fff;
}
 .theme-white .selectric-items li.highlighted {
	 background-color: #6777ef;
	 color: #fff;
}
 .theme-white .accordion .accordion-header[aria-expanded="true"] {
	 background-color: #6777ef;
	 color: #fff;
}
 .theme-white .bootstrap-tagsinput .tag {
	 background-color: #6777ef;
}
 .theme-white body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu > li.active > a:before {
	 background-color: #6777ef;
}
 .theme-white body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a {
	 box-shadow: 0 4px 8px #6777ef;
	 background-color: #6777ef;
	 color: #fff;
}
 .theme-white body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu li.active > a {
	 color: #6777ef;
}
 .theme-white .activities .activity:before {
	 background-color: #6777ef;
}
 .theme-white .settingSidebar .settingPanelToggle {
	 background: #6777ef;
}
 .theme-white .settingSidebar .settingPanelToggle i {
	 color: #fff;
}
 .theme-white .settingSidebar ul.choose-theme li.active div::after {
	 color: #000;
}
 .theme-white .sidebar-color .selectgroup-input:checked + .selectgroup-button {
	 background-color: #6777ef;
}
 .theme-white .navbar .nav-link .feather {
	 color: #555556;
}
 .theme-white .navbar .form-inline .form-control {
	 background-color: #f3f3f3;
}
 .theme-white .navbar .form-inline .form-control:focus {
	 border-color: transparent;
}
 .theme-white .navbar .form-inline .btn {
	 background-color: #f3f3f3;
}
 .theme-white .custom-switch-input:checked ~ .custom-switch-indicator {
	 background: #6777ef;
}
 